<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>
    <!-- {{#users}}
    <img src="{{avatar}}"></img>
    <li>{{name}}</li>
    {{/users}} -->
    <img src="{{avatar}}"></img>
    <li>{{name}}</li>

    <script src="robots.js"></script>
  </body>
</html>
